body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn {
  box-sizing: border-box;
  color: #444;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.large {
  font-size: 18px;
  line-height: 1.3333333;
}
.small {
  font-size: 12px;
  line-height: 1.5;
}
.score {
  width:30%;
  height:20%;
  display:inline-block;
}
.card {
  cursor: pointer;
}
.card.small {
  width:100px;
  height:50px;
}
.light .selected .card-svg .card-back {
  stroke:orange;
  stroke-width:10;
}
.dark .selected .card-svg .card-back {
  stroke:orange;
  stroke-width:8;
}
.card-back {
  fill: none;
  stroke-width:10;
  width: 200;
  height: 100;
}
.light .card-back {
  stroke: #BBB;
}
.dark .card-back {
  stroke: #222;
}
.shape {
  stroke-width:4;
}
.light {
  background-color: white;
}
.light .red {
  stroke: red;
  fill: red;
}
.light .green {
  stroke: green;
  fill: green;
}
.light .purple {
  stroke: #5A1398;
  fill: #5A1398;
}
.light .open {
  fill: none;
}
svg .stripe.red {
  stroke: none;
}
svg .stripe.green {
  stroke: none;
}
svg .stripe.purple {
  stroke: none;
}

.dark {
  background-color:black;
}
.dark .green {
  stroke: cyan;
  fill: cyan;
}
.dark .purple {
  stroke: magenta;
  fill: magenta;
}
.dark .red {
  stroke:yellow;
  fill: yellow;
}
.dark .open {
  fill: none;
}

.red.striped {
  stroke:url(#red-stripe);
  fill:url(#red-stripe);
  /*-webkit-fill: url(#red-stripe) ;*/
}
.green.striped {
  stroke: url(#green-stripe);
  fill: url(#green-stripe) ;
  /*-webkit-fill: url(#green-stripe) ;*/
}
.purple.striped {
  stroke: url(#purple-stripe);
  fill: url(#purple-stripe);
  /*-webkit-fill: url(#purple-stripe) ;*/
}
@-moz-document url-prefix() { 
  .red.striped {
    stroke:url(/#red-stripe);
    fill:url(/#red-stripe);
    /*-webkit-fill: url(#red-stripe) ;*/
  }
  .green.striped {
    stroke: url(/#green-stripe);
    fill: url(/#green-stripe) ;
    /*-webkit-fill: url(#green-stripe) ;*/
  }
  .purple.striped {
    stroke: url(/#purple-stripe);
    fill: url(/#purple-stripe);
    /*-webkit-fill: url(#purple-stripe) ;*/
  }
}
.light .green.striped {
  stroke: green;
}
.light .red.striped {
  stroke: red;
}
.light .purple.striped {
  stroke: #5A1398;
}
