body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #666;
}
.btn {
  box-sizing: border-box;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.clock {
  position: absolute;
  width: 100%;
  top: 35%;
  transform: translateY(-50%);
  padding: 6px 12px;
  text-align: center;
  margin: 0 auto;
}
#restartBig {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (min-width : 1025px) /* Desktop */
{
  .huge {
    font-size: 300px;
  }
  .large {
    font-size: 25px;
  }
  .medium {
    font-size: 15px;
  }
  .small {
    font-size: 12px;
  }
}
@media screen and (max-width : 1024px) /* Tablet */
{
  .huge {
    font-size: 300px;
  }
  .large {
    font-size: 25px;
  }
  .medium {
    font-size: 15px;
  }
  .small {
    font-size: 12px;
  }
}
@media screen and (max-width : 768px) /* Phone Landscape/Tablet Portrait */
{
  .huge {
    font-size: 200px;
  }
  .large {
    font-size: 18px;
  }
  .medium {
    font-size: 12px;
  }
  .small {
    font-size: 10px;
  }
}
@media screen and (max-width : 450px) /* Phone Portrait */
{
  .huge {
    font-size: 130px;
  }
  .large {
    font-size: 15px;
  }
  .medium {
    font-size: 11.5px;
  }
  .small {
    font-size: 9px;
  }
}

.small {
  padding-bottom: 0px;
}

#settings .btn {
  text-align: left;
}

.light #light-dark:after {
  content: "Lights off";
}
.dark #light-dark:after {
  content: "Lights on";
}

#autocomplete:after {
  content: "Autocomplete on";
}

.autocomplete-on #autocomplete:after {
  content: "Autocomplete off";
}


.card {
  cursor: pointer;
}
.light .selected .card-svg .card-back {
  stroke:orange;
  stroke-width:10;
}
.dark .selected .card-svg .card-back {
  stroke:orange;
  stroke-width:8;
}
.card-back {
  fill: none;
  stroke-width:10;
  width: 200;
  height: 100;
}
.light .card-back {
  stroke: #BBB;
}
.dark .card-back {
  stroke: #222;
}
.shape {
  stroke-width:4;
}
.light {
  background-color: white;
}
.light .red {
  stroke: red;
  fill: red;
}
.light .green {
  stroke: green;
  fill: green;
}
.light .purple {
  stroke: #5A1398;
  fill: #5A1398;
}
.light .blue {
  stroke: blue;
  fill: blue;
}
.light .yellow {
  stroke: gray;
  fill: gray;
}
.light .orange {
  stroke: darkorange;
  fill: darkorange;
}
.light .open {
  fill: none;
}
svg .stripe.red {
  stroke-width: 0;
}
svg .stripe.green {
  stroke-width: 0;
}
svg .stripe.purple {
  stroke-width: 0;
}

.dark {
  background-color:black;
}
.dark .green {
  stroke: cyan;
  fill: cyan;
}
.dark .purple {
  stroke: magenta;
  fill: magenta;
}
.dark .red {
  stroke: yellow;
  fill: yellow;
}
.dark .blue {
  stroke: #9546CC;
  fill: #9546CC;
}
.dark .yellow {
  stroke: #B02020;
  fill: #B02020;
}
.dark .orange {
  stroke: #49BF3D;
  fill: #49BF3D;
}
.dark .brown {
  stroke: #E09870;
  fill: #E09870;
}
.dark .silver {
  stroke: #C0C0C0;
  fill: #C0C0C0;
}
.dark .open {
  fill: none;
}

.red.striped {
  stroke:url(#red-stripe);
  fill:url(#red-stripe);
}
.green.striped {
  stroke: url(#green-stripe);
  fill: url(#green-stripe) ;
}
.purple.striped {
  stroke: url(#purple-stripe);
  fill: url(#purple-stripe);
}
@-moz-document url-prefix() { 
  .red.striped {
    stroke:url(/#red-stripe);
    fill:url(/#red-stripe);
  }
  .green.striped {
    stroke: url(/#green-stripe);
    fill: url(/#green-stripe) ;
  }
  .purple.striped {
    stroke: url(/#purple-stripe);
    fill: url(/#purple-stripe);
  }
}
.light .green.striped {
  stroke: green;
}
.light .red.striped {
  stroke: red;
}
.light .purple.striped {
  stroke: #5A1398;
}
